body {
  background-color: #fffef8;
}

.title-header{  
    background-color: rgb(173 223 248);
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

.cards {
    border-bottom: 1px solid #a09393;
}

.cards:hover {
  zoom: 110%;
}

.main {
    text-align: center;
}

input {
  height: 2rem;
  width: 19rem;
  margin-right: 0.3rem;
  margin-bottom: 3rem;
}

input[type="text"] {
  padding-left: 0.5rem;
}

button {
 padding: 0.4rem;
 cursor: pointer;
}

.image-header {
  height: 5rem;
}