body {
  background-color: antiquewhite;
}

.title-header{
    color: rgb(245, 227, 148);
    background-color: rgb(214, 68, 68);
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

.cards {
    border-bottom: 1px solid #a09393;
}

.main {
    text-align: center;
}

input {
  height: 2rem;
  width: 19rem;
  margin-right: 0.3rem;
  margin-bottom: 3rem;
}

input[type="text"] {
  padding-left: 0.5rem;
}

button {
 padding: 0.4rem;
 cursor: pointer;
}